.side-bar-container {
    min-height: 90vh;
    width: 100%;
    background-color: rgb(200, 235, 222);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    .side-bar-container {
      padding-left: 500px;
    }
  }
  
  .list-name {
    color: rgb(27, 97, 228);
    font-size: 35px;
    font-weight: 700;
    font-family: 'Playfair Display SC';
    text-decoration: none;
    padding-bottom: 20px;
  }
  .button-b {
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 7px;
    background-color: rgb(79, 79, 220);
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto';
    cursor: pointer;
    margin-top: 20px;
    margin-left: 120px;
  }
  